@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-shadow-xs {
    text-shadow: 1px 1px 0 #000;
  }

  .text-shadow-sm {
    text-shadow: 2px 2px 0 #000;
  }

  .text-shadow {
    text-shadow: 3px 3px 0 #000;
  }

  .text-shadow-lg {
    text-shadow: 4px 4px 0 #000;
  }

  .shadow-xs {
    box-shadow: 1px 1px 0 #000;
  }

  .shadow-sm {
    box-shadow: 2px 2px 0 #000;
  }

  .shadow {
    box-shadow: 3px 3px 0 #000;
  }

  .shadow-lg {
    box-shadow: 4px 4px 0 #000;
  }
}
